body {
    background: url('/assets/images/book_profile.gif') fixed;
    background-size: cover;
    padding-top: 90px;
    margin: 0;
    background-repeat: no-repeat;
}
.white-box{
	padding: 20px 10px;
	background-color: rgba(220,220,220,.8);
}
a:hover{
	text-decoration: none;
}